body{
    padding: 100px;
}
.submit-area{
    padding: 45px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display: none;
}
#h1-text{
    color: #f85fac;
}
.status{
    margin: 0 20px;
    border-radius: 10px;
    color: whitesmoke;
    padding: 15px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}